<a href="https://colab.research.google.com/github/JoshDumo/PortolioManager/blob/main/Portfolio_manager.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portfolio management
In this project we investigate portfolio management using python.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Getting data

In [ ]:
ticker_df = pd.read_csv("nyse.csv")

In [ ]:
ticker_df.head()

   Symbol  ...                                          Industry
0       A  ...  Biotechnology: Laboratory Analytical Instruments
1      AA  ...                                          Aluminum
2    AAIC  ...                     Real Estate Investment Trusts
3  AAIC^B  ...                                               NaN
4  AAIC^C  ...                                               NaN

[5 rows x 11 columns]

In [ ]:
is_US = ticker_df['Country'] == 'United States'
is_highVol = ticker_df['Volume'] > 2000000
is_highMCap = ticker_df['Market Cap'] > 1e+8
ticker_UShighVol = ticker_df[is_US & is_highVol & is_highMCap]
ticker_UShighVol_list = ticker_UShighVol['Symbol'].values.tolist()

In [ ]:
len(ticker_UShighVol_list)

203

In [ ]:
!pip install yahoofinancials

Collecting yahoofinancials
  Downloading https://files.pythonhosted.org/packages/97/fe/be0f6ea704137848779fc61e7d1c9a901489aaf3423cd7b6f86a350c14c6/yahoofinancials-1.6.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from yahoofinancials) (4.6.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from yahoofinancials) (2018.9)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.6-cp36-none-any.whl size=15192 sha256=a5005004bd043f60fee450717a6403427871d7b99c5700d22d8f4eb18aa68040
  Stored in directory: /root/.cache/pip/wheels/d9/7e/cf/4977a8572d5247242a4b13018d1d36923024ba84236e0d28bc
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.6

In [ ]:
from yahoofinancials import YahooFinancials
tech_stocks = ['AAPL', 'MSFT', 'INTC']
highVol_stocks = ticker_UShighVol_list
yahoo_financials_tech = YahooFinancials(tech_stocks)
#tech_stock_price_data = yahoo_financials_tech.get_stock_price_data()
daily_tech_stock_prices = yahoo_financials_tech.get_historical_price_data('2017-09-15', '2018-09-15', 'daily')

In [ ]:
highVol_stocks = ticker_UShighVol_list
yahoo_financials_highVol = YahooFinancials(highVol_stocks)
daily_highVol_stock_prices = yahoo_financials_highVol.get_historical_price_data('2013-01-02', '2020-12-15', 'daily')

In [ ]:
daily_highVol_stock_prices.keys()

dict_keys(['ABBV', 'ABT', 'ACIC', 'ADT', 'AES', 'AFL', 'AHT', 'AIG', 'AIV', 'ALB', 'AM', 'ATUS', 'AXTA', 'BA', 'BAC', 'BFT', 'BK', 'BMY', 'BSX', 'C', 'CAG', 'CCIV', 'CCL', 'CCO', 'CDE', 'CF', 'CFG', 'CHS', 'CLF', 'CLNY', 'CNC', 'CNP', 'CNX', 'COG', 'COP', 'COTY', 'CPE', 'CRK', 'CRM', 'CVS', 'CVX', 'CXW', 'CYH', 'D', 'DAL', 'DDD', 'DHF', 'DIS', 'DUK', 'DVN', 'ED', 'ELAN', 'EPD', 'EQT', 'ET', 'EXPR', 'F', 'FCX', 'FE', 'FHN', 'FINV', 'FLR', 'FNB', 'FRX', 'GE', 'GEN           ', 'GEO', 'GIS', 'GLW', 'GM', 'GME', 'GNW', 'GPK', 'GPS', 'GSAH', 'GTT', 'HAL', 'HBI', 'HD', 'HL', 'HPE', 'HPQ', 'HTA', 'HUYA', 'IBM', 'IFF', 'IGT', 'INVH', 'IPG', 'IPOE', 'IPOF', 'IVR', 'JNJ', 'JNPR', 'JPM', 'JWN', 'K', 'KAR', 'KEY', 'KIM', 'KMI', 'KO', 'KODK', 'KR', 'KSS', 'LLY', 'LOW', 'LTHM', 'LUMN', 'LUV', 'LVS', 'M', 'MAC', 'MD', 'MDT', 'MET', 'MFA', 'MGM', 'MMP', 'MO', 'MOS', 'MPC', 'MRK', 'MRO', 'MS', 'MUR', 'NCLH', 'NEE', 'NEM', 'NET', 'NGL', 'NKE', 'NLY', 'NOVA', 'NRG', 'NRZ', 'NUE', 'NVTA', 'NYCB', 'O', 'OMC', 'ORCL', 'OXY', 'PBF', 'PCG', 'PDAC', 'PEAK', 'PFE', 'PG', 'PGR', 'PHM', 'PK', 'PM', 'PPL', 'QEP', 'QS', 'RCL', 'RF', 'RKT', 'RRC', 'RTX', 'SAVE', 'SBH', 'SCHW', 'SE', 'SKT', 'SM', 'SNAP', 'SO', 'SPG', 'SQ', 'STPK', 'SWN', 'SYF', 'T', 'TFC', 'TGT', 'TJX', 'TPR', 'TTI', 'TWLO', 'TWO', 'U', 'UAA', 'UNP', 'UPS', 'USB', 'UWMC', 'V', 'VLO', 'VRT', 'WAB', 'WES', 'WFC', 'WM', 'WMB', 'WMT', 'WPF', 'WTI', 'WU', 'WY', 'X', 'XOM'])

In [ ]:
big_d = []
for symkey in daily_highVol_stock_prices.keys():
  p_info = daily_highVol_stock_prices[symkey].get('prices')
  if p_info != None:
    ps = [(p.get('formatted_date'),p.get('adjclose')) for p in p_info]
    p_df = pd.DataFrame(ps, columns=['date',symkey])
    p_df = p_df.set_index("date")
    big_d.append(p_df)
  else:
    continue
#print(pd.concat(big_d, axis=1))
stock_df = pd.concat(big_d, axis=1)

                 ABBV        ABT  ADT  ...         WY          X        XOM
2013-01-02  25.103134  27.273100  NaN  ...  21.877724  24.052210  63.030422
2013-01-03  24.895849  28.311268  NaN  ...  21.877724  23.615570  62.916748
2013-01-04  24.581341  28.141081  NaN  ...  22.057846  23.875690  63.208046
2013-01-07  24.631376  28.370836  NaN  ...  22.125393  23.884979  62.476223
2013-01-08  24.095289  28.379343  NaN  ...  22.275496  23.234674  62.867039

[5 rows x 200 columns]

In [ ]:
stock_df.to_csv('highVolStocks200.csv')

## PyPortfolioOpt

In [ ]:
!pip install PyPortfolioOpt

Collecting PyPortfolioOpt
  Downloading https://files.pythonhosted.org/packages/46/55/7d39d78d554ee33a7317e345caf01339da11406c28f18bc48794fe967935/PyPortfolioOpt-1.4.1-py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 2.8MB/s
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.1.5)
Collecting cvxpy<2.0.0,>=1.1.10
  Downloading https://files.pythonhosted.org/packages/1e/25/c960568e00b8eea26b339e2b56121028c98bddb6ad66c4b9e1d71889f849/cvxpy-1.1.10.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 7.2MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: scipy<2.0,>=1.3 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.4.1)
Requirement already satisfied: numpy<2.0,>=1.12 in /usr/local/lib/python3.6/dist-packages (from PyPortfolioOpt) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->PyPortfolioOpt) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->PyPortfolioOpt) (2.8.1)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from cvxpy<2.0.0,>=1.1.10->PyPortfolioOpt) (0.6.2.post0)
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.6/dist-packages (from cvxpy<2.0.0,>=1.1.10->PyPortfolioOpt) (2.1.2)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.6/dist-packages (from cvxpy<2.0.0,>=1.1.10->PyPortfolioOpt) (2.0.7.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->PyPortfolioOpt) (1.15.0)
Requirement already satisfied: qdldl in /usr/local/lib/python3.6/dist-packages (from osqp>=0.4.1->cvxpy<2.0.0,>=1.1.10->PyPortfolioOpt) (0.1.5.post0)
Building wheels for collected packages: cvxpy
  Building wheel for cvxpy (PEP 517) ... done
  Created wheel for cvxpy: filename=cvxpy-1.1.10-cp36-cp36m-linux_x86_64.whl size=2683447 sha256=cf05835b66af511b2350f0c653c417a5bdf7e704d47a5f8cbca6c69eb0796f3e
  Stored in directory: /root/.cache/pip/wheels/64/d6/c9/9295499aefa5af80018eaabffd09216170a1349b45551fb8d5
Successfully built cvxpy
Installing collected packages: cvxpy, PyPortfolioOpt
  Found existing installation: cvxpy 1.0.31
    Uninstalling cvxpy-1.0.31:
      Successfully uninstalled cvxpy-1.0.31
Successfully installed PyPortfolioOpt-1.4.1 cvxpy-1.1.10

In [ ]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [ ]:
mu = expected_returns.mean_historical_return(stock_df) 
S = risk_models.sample_cov(stock_df)

/usr/local/lib/python3.6/dist-packages/pypfopt/risk_models.py:69: UserWarning: The covariance matrix is non positive semidefinite. Amending eigenvalues.
  "The covariance matrix is non positive semidefinite. Amending eigenvalues."
/usr/local/lib/python3.6/dist-packages/pypfopt/risk_models.py:88: UserWarning: Could not fix matrix. Please try a different risk model.
  "Could not fix matrix. Please try a different risk model.", UserWarning

In [ ]:
ef = EfficientFrontier(mu,S)
weights = ef.max_sharpe()

cleaned_weights = ef.clean_weights()
print(cleaned_weights)
ef.portfolio_performance(verbose=True)

OrderedDict([('ABBV', 0.0), ('ABT', 0.0), ('ADT', 0.0), ('AES', 0.02339), ('AFL', 0.0), ('AHT', 0.0), ('AIG', 0.0), ('AIV', 0.0), ('ALB', 0.0), ('AM', 0.0), ('ATUS', 0.0), ('AXTA', 0.0), ('BA', 0.0), ('BAC', 0.0), ('BFT', 0.09946), ('BK', 0.0), ('BMY', 0.0), ('BSX', 0.0), ('C', 0.0), ('CAG', 0.0), ('CCIV', 0.0), ('CCL', 0.0), ('CCO', 0.0), ('CDE', 0.0), ('CF', 0.0), ('CFG', 0.0), ('CHS', 0.0), ('CLF', 0.0), ('CLNY', 0.0), ('CNC', 0.0), ('CNP', 0.0), ('CNX', 0.0), ('COG', 0.0), ('COP', 0.0), ('COTY', 0.0), ('CPE', 0.0), ('CRK', 0.0), ('CRM', 0.0), ('CVS', 0.0), ('CVX', 0.0), ('CXW', 0.0), ('CYH', 0.0), ('D', 0.0), ('DAL', 0.0), ('DDD', 0.0), ('DHF', 0.0), ('DIS', 0.0), ('DUK', 0.0), ('DVN', 0.0), ('ED', 0.0), ('ELAN', 0.0), ('EPD', 0.0), ('EQT', 0.0), ('ET', 0.0), ('EXPR', 0.0), ('F', 0.0), ('FCX', 0.0), ('FE', 0.0), ('FHN', 0.0), ('FINV', 0.0), ('FLR', 0.0), ('FNB', 0.0), ('GE', 0.0), ('GEO', 0.0), ('GIS', 0.0), ('GLW', 0.0), ('GM', 0.05012), ('GME', 0.0), ('GNW', 0.0), ('GPK', 0.0), ('GPS', 0.0), ('GSAH', 0.0), ('GTT', 0.0), ('HAL', 0.0), ('HBI', 0.0), ('HD', 0.0), ('HL', 0.0), ('HPE', 0.0), ('HPQ', 0.0), ('HTA', 0.0), ('HUYA', 0.0), ('IBM', 0.0), ('IFF', 0.0), ('IGT', 0.0), ('INVH', 0.0), ('IPG', 0.0), ('IPOE', 0.0), ('IPOF', 0.0), ('IVR', 0.0), ('JNJ', 0.0), ('JNPR', 0.08981), ('JPM', 0.0), ('JWN', 0.0), ('K', 0.0), ('KAR', 0.0), ('KEY', 0.0), ('KIM', 0.0), ('KMI', 0.0), ('KO', 0.0), ('KODK', 0.00182), ('KR', 0.0), ('KSS', 0.0), ('LLY', 0.0), ('LOW', 0.0), ('LTHM', 0.0), ('LUMN', 0.0), ('LUV', 0.0), ('LVS', 0.0), ('M', 0.0), ('MAC', 0.0), ('MD', 0.0), ('MDT', 0.0), ('MET', 0.0), ('MFA', 0.0), ('MGM', 0.0), ('MMP', 0.0), ('MO', 0.0), ('MOS', 0.0), ('MPC', 0.0), ('MRK', 0.0), ('MRO', 0.0), ('MS', 0.0), ('MUR', 0.0), ('NCLH', 0.0), ('NEE', 0.18917), ('NEM', 0.0), ('NET', 0.0), ('NGL', 0.0), ('NKE', 0.16749), ('NLY', 0.0), ('NOVA', 0.0), ('NRG', 0.0), ('NRZ', 0.0), ('NUE', 0.0), ('NVTA', 0.0), ('NYCB', 0.0), ('O', 0.0), ('OMC', 0.0), ('ORCL', 0.0), ('OXY', 0.0), ('PBF', 0.0), ('PCG', 0.0), ('PDAC', 0.0), ('PEAK', 0.0), ('PFE', 0.0), ('PG', 0.0), ('PGR', 0.0), ('PHM', 0.0), ('PK', 0.0), ('PM', 0.0), ('PPL', 0.0), ('QEP', 0.0), ('QS', 0.19949), ('RCL', 0.0), ('RF', 0.0), ('RKT', 0.04861), ('RRC', 0.0), ('RTX', 0.0), ('SAVE', 0.0), ('SBH', 0.0), ('SCHW', 0.0), ('SE', 0.0), ('SKT', 0.0), ('SM', 0.0), ('SNAP', 0.0), ('SO', 0.0), ('SPG', 0.0), ('SQ', 0.0), ('STPK', 0.02874), ('SWN', 0.0), ('SYF', 0.0), ('T', 0.0), ('TFC', 0.0), ('TGT', 0.0), ('TJX', 0.0), ('TPR', 0.0), ('TTI', 0.0), ('TWLO', 0.02672), ('TWO', 0.0), ('U', 0.01142), ('UAA', 0.0), ('UNP', 0.0), ('UPS', 0.0), ('USB', 0.0), ('UWMC', 0.0), ('V', 0.0), ('VLO', 0.0), ('VRT', 0.0), ('WAB', 0.0), ('WES', 0.0), ('WFC', 0.0), ('WM', 0.0), ('WMB', 0.0), ('WMT', 0.0), ('WPF', 0.06374), ('WTI', 0.0), ('WU', 0.0), ('WY', 0.0), ('X', 0.0), ('XOM', 0.0)])
Expected annual return: 4024.3%
Annual volatility: 45.8%
Sharpe Ratio: 87.83

(40.2431073604792, 0.4579806581926586, 87.82708754385551)

In [ ]:
pip install pulp

Collecting pulp
  Downloading https://files.pythonhosted.org/packages/14/c4/0eec14a0123209c261de6ff154ef3be5cad3fd557c084f468356662e0585/PuLP-2.4-py3-none-any.whl (40.6MB)
     |████████████████████████████████| 40.6MB 100kB/s
Collecting amply>=0.1.2
  Downloading https://files.pythonhosted.org/packages/f3/c5/dfa09dd2595a2ab2ab4e6fa7bebef9565812722e1980d04b0edce5032066/amply-0.1.4-py3-none-any.whl
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (2.4.7)
Requirement already satisfied: docutils>=0.3 in /usr/local/lib/python3.6/dist-packages (from amply>=0.1.2->pulp) (0.16)
Installing collected packages: amply, pulp
Successfully installed amply-0.1.4 pulp-2.4

In [ ]:
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [ ]:
portfolio_val = 8000
latest_price = get_latest_prices(stock_df)
weights = cleaned_weights

da = DiscreteAllocation(weights,latest_price,portfolio_val)

allocation, leftover = da.lp_portfolio()

print("Discrete Allocation: ", allocation)
print("Remaining amount: $", leftover)

Discrete Allocation:  {'AES': 9, 'BFT': 54, 'EXPR': 1, 'GM': 10, 'JNPR': 32, 'KODK': 1, 'NEE': 20, 'NKE': 10, 'QS': 28, 'RKT': 18, 'STPK': 13, 'TWLO': 1, 'WPF': 45}
Remaining amount: $ 0.9207839965820312

In [ ]:
portfolio_com = []
for k in allocation.keys():
  company = ticker_df.loc[ticker_df['Symbol'] == k]
  portfolio_com.append(company['Name'])
portfolio_com

[55    The AES Corporation Common Stock
 Name: Name, dtype: object,
 369    Foley Trasimene Acquisition Corp. II Class A C...
 Name: Name, dtype: object,
 1040    Express Inc. Common Stock
 Name: Name, dtype: object,
 1242    General Motors Company Common Stock
 Name: Name, dtype: object,
 1531    Juniper Networks Inc. Common Stock
 Name: Name, dtype: object,
 1596    Eastman Kodak Company Common New
 Name: Name, dtype: object,
 1901    NextEra Energy Inc. Common Stock
 Name: Name, dtype: object,
 1942    Nike Inc. Common Stock
 Name: Name, dtype: object,
 2295    QuantumScape Corporation Class A Common Stock
 Name: Name, dtype: object,
 2358    Rocket Companies Inc. Class A Common Stock
 Name: Name, dtype: object,
 2602    Star Peak Energy Transition Corp. Class A Comm...
 Name: Name, dtype: object,
 2773    Twilio Inc. Class A Common Stock
 Name: Name, dtype: object,
 2975    Foley Trasimene Acquisition Corp. Class A Comm...
 Name: Name, dtype: object]

In [ ]:
portfolio_df = pd.DataFrame(columns=['Company ticker','Company name','Discrete_Val_'+str(portfolio_val)])

In [ ]:
portfolio_df['Company ticker'] = list(allocation.keys())
portfolio_df['Company name'] = portfolio_com
portfolio_df['Discrete_Val_'+str(portfolio_val)] = list(allocation.values())
portfolio_df

   Company ticker  ... Discrete_Val_8000
0             AES  ...                 9
1             BFT  ...                54
2            EXPR  ...                 1
3              GM  ...                10
4            JNPR  ...                32
5            KODK  ...                 1
6             NEE  ...                20
7             NKE  ...                10
8              QS  ...                28
9             RKT  ...                18
10           STPK  ...                13
11           TWLO  ...                 1
12            WPF  ...                45

[13 rows x 3 columns]